*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
}

:root {
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

body {
  overflow-x: hidden;
  background-color: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
}

body, h1, h2, h3, h4, h5, h6, p {
  font-family: var(--ff-secondary);
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container {
  padding: 1rem;
  margin: 0 auto;
  max-width: var(--max-width);
}

#mainModal {
  opacity: 0;
  display: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

#mainModal .backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  right: 0;
  padding: 0;
  z-index: 99;
}

#mainModal .modal-inner {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 150;
  display: inline;
}

#mainModal .modal-inner .modal-content {
  margin: 0 auto;
  background-color: var(--clr-white);
}

#mainModal .modal-inner .modal-content .modal-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem 0.8rem;
}

#mainModal .modal-inner .modal-content .modal-header #closeModal {
  color: var(--clr-red-dark);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 2.3rem;
  font-weight: 600;
  justify-self: flex-end;
  margin-left: auto;
  cursor: pointer;
}

#mainModal .modal-inner .modal-content .modal-header #closeModal:hover {
  color: var(--clr-red-light);
}

#mainModal .modal-inner .modal-content .modal-body {
  padding: 1rem 1rem 4rem;
}

div#mainModal.show-modal {
  display: block;
  opacity: 1;
}

.card {
  width: 90vw;
  max-width: var(--fixed-width);
  width: 100%;
  background-color: var(--clr-white);
  border-radius: 14px;
  -webkit-box-shadow: var(--light-shadow);
          box-shadow: var(--light-shadow);
  text-align: center;
}

#mainApp {
  width: 100%;
  background-color: var(--clr-grey-10);
}

#mainApp #appBody {
  width: 100%;
}

#mainApp #appBody .hero {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-image: url("./Assets/Images/hero.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#mainApp #appBody .hero .hero-inner {
  padding: 4.3rem 1rem;
}

#mainApp #appBody .hero .hero-inner h1 {
  font-size: 4rem;
  color: var(--clr-grey-1);
  margin-bottom: 2.4rem;
  letter-spacing: var(--spacing);
}

#mainApp #appBody .hero .hero-inner .btns-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mainApp #appBody .hero .hero-inner .btns-box button {
  cursor: pointer;
  padding: 0.4rem 1.1rem;
  display: inline;
  border: 2px solid var(--clr-primary-5);
  background-color: var(--clr-primary-5);
  color: var(--clr-white);
  text-transform: uppercase;
  border-radius: 8px;
  -webkit-box-shadow: var(--light-shadow);
          box-shadow: var(--light-shadow);
  letter-spacing: var(--spacing);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

#mainApp #appBody .hero .hero-inner .btns-box button:hover {
  color: var(--clr-primary-5);
  background-color: var(--clr-white);
}

@media only screen and (min-width: 800px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
}

@media only screen and (max-width: 900px) {
  .main-container {
    width: 99%;
    padding: 0;
  }
  .card {
    width: 94%;
  }
  #mainApp #appBody {
    width: 100%;
  }
  #mainApp #appBody .hero .hero-inner h1 {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */