*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
}

:root {
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --clr-gold: #c59d5f;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

body {
  overflow-x: hidden;
  background-color: var(--clr-black);
  color: var(--clr-grey-1);
  line-height: 1.5;
}

body, h1, h2, h3, h4, h5, h6, p {
  font-family: var(--ff-secondary);
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container {
  padding: 1rem;
  margin: 0 auto;
  max-width: var(--max-width);
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  min-height: 100vh;
  background-color: var(--clr-white);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.hide-preloader#preloader {
  visibility: hidden;
  opacity: 0;
  display: none;
}

#mainApp {
  width: 100%;
}

#mainApp #appBody {
  width: 100%;
  padding: 0;
}

#mainApp #appBody .video-container, #mainApp #appBody #heroVideo, #mainApp #appBody .vid-layout {
  width: 100%;
  height: 100%;
}

#mainApp #appBody .video-container {
  position: relative;
}

#mainApp #appBody .video-container #heroVideo, #mainApp #appBody .video-container .vid-layout {
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#mainApp #appBody .video-container #heroVideo {
  z-index: 10;
  -o-object-fit: cover;
     object-fit: cover;
}

#mainApp #appBody .video-container .vid-layout {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
  display: -ms-grid;
  display: grid;
  place-items: center;
  /* switch button */
}

#mainApp #appBody .video-container .vid-layout .app-title {
  color: var(--clr-white);
  margin-bottom: 3rem;
}

#mainApp #appBody .video-container .vid-layout .switch-btn {
  position: absolute;
  bottom: 7%;
  left: 7%;
  width: 7rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: var(--radius);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

#mainApp #appBody .video-container .vid-layout .switch-btn span {
  display: inline-block;
  font-size: 0.85rem;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--clr-primary-5);
}

#mainApp #appBody .video-container .vid-layout .switch {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--clr-primary-5);
  border-radius: var(--radius);
  margin: 0;
  display: block;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

#mainApp #appBody .video-container .vid-layout .slide .switch {
  left: 50%;
}

h1 {
  font-size: 4rem;
}

h4 {
  font-size: 0.875rem;
}

@media only screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  h1, h2, h3, h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }
  .main-container {
    width: 99%;
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */